@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #364E61;
    --cor1: #37678B;
    --cor3: #2979B6;
    --cor4: #0D85E0;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: #415d75;
    font-family: var(--fonte-padrao);
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

 #criados a::before{
    content: "\1f517";
    font-size: 15px;
    margin-right: 3px;
}

header {
    background-image: linear-gradient(to top, var(--cor3), var(--cor0));
    color: white;
    text-align: center;
    padding: 10px 10px;
    min-height: 100px;

}

header > h1{
    font-size: 45px;
    font-family: var(--font-padrao);
    margin-bottom: 4px;
    text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.267);
}

header > p{
    font-family: var(--font-destaque);
    font-size: 30px;
    text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.267);
    font-weight: normal;
}

span#menu {
    display: none;
}

menu {
    background-color: var(--cor3);
    padding: 10px;
    text-align: left;

}

menu a {
    font-size: 23px;
    font-family: var(--font-destaque);
    text-decoration: none;
    color: white;
    padding-left: 16px;
}

menu ul {
    display: flex;
    list-style-type: none; 
}

menu ul li {
    padding-right: 10px;
}

menu a:hover {
    color: var(--cor0);
    transition-duration: 0.3s;
}

main {
    min-width: 300px;
    max-width: 100%;
    margin-bottom: 50px;
    display: block;

}

main h1 {
    background-image: linear-gradient(to right, var(--cor4), transparent);
    text-indent: 8px;
    font-weight: normal;
    text-shadow: 6px 5px 4px rgba(0, 0, 0, 0.267);
}

#sobre {
    margin: 10px 0px 30px 0px;
    overflow: hidden;
}

#sobre > p {
    font-size: 1.5em;
    text-align: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 5px;
    letter-spacing: 3px;
    line-height: 23pt;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.61);

}

#sobre a {
    text-decoration: underline;
}

#sobre img {
    float: left;
    margin: 10px 20px 0px 8px;
    height: 290pt;
}

#curriculo {
    margin: 10px 0px 30px 0px;
    overflow: hidden;
}

#curriculo h2 {
    font-size: 1.7em;
    margin: 10px 5px; 
}

#curriculo p {
    font-family: var(--font-destaque);
    font-size: 23px;
}

#criados h1 {
    margin-bottom: 8px;
}

#criados ul {
    margin-bottom: 8px;   
    padding: 10px; 
    font-size: 17pt;
    line-height: 25pt;
}

#contato h1 {
margin-bottom: 20px;
}

#contato p {
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 18pt;
}

footer {
    background-color:#1b2831;
    font-family: var(--font-destaque);
    font-size: 1.3em;
    padding: 13px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    font-weight: bold;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 0.5s;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    span#menu {
        display: block;
        background-color: var(--cor3);
        text-align: center;
        padding: 10px;
        cursor: pointer;
        border-bottom: 2px solid var(--cor0);
    }

    menu {
        display: none;
        list-style-type: none;
    }

    menu ul {
        display: block;
        text-align: center;
    }

}